# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
saves/
config/
options.txt
logs/
crash-reports/
*.launch
world/
*.json
eula.txt
server.properties
servers.dat